accelerate==0.34.2
bitarray==2.9.2
bitsandbytes==0.42.0
datasets==3.0.1
deepspeed==0.15.1
evaluate==0.4.1
gpustat==1.1.1
langchain==0.1.0
openai==0.28.0
peft==0.13.0
sentencepiece==0.2.0
shortuuid==1.0.13
transformers==4.45.1
trl==0.8.3
wandb==0.16.2
huggingface-hub==0.24.7
ninja==1.11.1.1
tensorboardX==2.6.2.2